*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

body{
    flex-direction: column;
    
    margin: 0;
    display: flex;
    
}

.logo{
    color: #FF9A29;
    font-family: "Orbitron", sans-serif;
    text-shadow: -16px -2px 20px #FF9A29;
    font-size: 3.0rem;
}

nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul{
    display: flex;
    gap: 10px;
}

nav ul li{
    padding: 10px;
    position: relative;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
    text-shadow: -16px -2px 20px #FF9A29;
    font-size: 1.1rem;
  
}
nav, ul, li, .cv{
    text-decoration: none;
    color: #FF9A29;
    text-shadow: -16px -2px 20px #FF9A29;
}

nav ul li::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    /*left 50% e após, transforma em translateX(-50%), é um método de centralizar algo.*/
    left: 50%;
    transform: translateX(-50%);
    background-color: #FF9A29;
    transition: width 0.5s ease;
      
}


nav ul li:hover::after{
    width: 100%;
}

nav ul li:hover{
    scale: 140%;
}

.sobre{
    display: block;
    margin: 0 auto;
    height: 150px;
    border-radius: 50%;
    margin-top: 15px;
}

.sobre-mim img:hover{
    content: ' ';
    scale: 120%;
}



.contato{
    margin-top: 10px;
    display: flex;
    justify-content: center ;
    gap: 20px;
    padding: 15px;
    color: #000;
}

.insta{color: #000;}

.github{color: #000;}

.linkedin{color: #000;}

.insta:hover{scale: 130%;}
.github:hover{scale: 130%;}
.linkedin:hover{scale: 130%;}


.rodape{
    margin: 10px;
    position: absolute;
    bottom: 0;
}
.rodapeum{
    left: 170vh;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.sobre-mim{
    display: flex;
    flex-direction: column;
    background: aliceblue;
    width: 1100px;
    height: 580px;
    margin: 0 auto;
    margin-top: 25px;
    border: 2px dashed #FF9A29;   
}
.nome{
    font-size: 1.5rem;
    margin: 10px ;
    color: #FF9A29;
    text-shadow: -16px -2px 20px #FF9A29;

}

h1{
    font-family: "Orbitron", sans-serif;
    text-shadow: -16px -2px 20px #FF9A29;
    color: #FF9A29;
    text-align: center;
    margin-top: 20px;
}

.descricao{
    color: #000;
    margin-top: 15px;
    max-width: 1100px;
    font-size: 1.1rem;
    font-weight: bold;
    
}

.main{
    display: flex;
    justify-content: space-around;
    background: aliceblue;
    margin-top: 30px;
    height: 190px;
    width: 100%;
    border: 2px dashed #FF9A29;
    
}

.main, .habilidades, div{
    margin: 10px;
}

.main, .habilidades, .comportamental, p{
    margin: 7px;
}

.projetos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.comportamental{
    display: flex;
    flex-direction:column;
    align-items: center;
   
}









